# Python environment
__pycache__/
*.pyc
venv/
env/

# PyInstaller build files
build/
dist/
*.spec

# User Config & Secrets (NEVER upload these!)
app_config.json
tailscale_config.json
yubikey_config.json
openauth.log
*.log
*.bat
bump_version.py
make_ico.py